.landingFormClass{
    margin-top: 20px;
}

.loginLanding {
    opacity: 0;
    animation: loginLandingText 2s forwards;
    animation-delay: 9s;
}

@keyframes loginLandingText {
    from {opacity: 0;}
    to {opacity: 1;}
}